{% extends 'base/base.html' %}
{% load static %}

{% block title %}Pulpit wydarzeń{% endblock title %}

{% block breadcrumb %}
    <div>
        <h1><i class="fa fa-dashboard"></i> Pulpit</h1>
        <p>Pulpit wydarzeń</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Pulpit</a></li>
    </ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-files-o fa-3x"></i>
            <div class="info">
                <h4>Suma zakończonych wydarzeń</h4>
                <p><b>{{ total_event }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="widget-small info coloured-icon">
            <i class="icon fa fa-thumbs-o-up fa-3x"></i>
            <div class="info">
                <h4>Suma akwtywnych wydarzeń</h4>
                <p><b>{{ running_events.count }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid">
                                    <thead>
                                        <tr >
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Tytuł wydarzenia</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Czas rozpoczęcia</th>
                                            <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1" >Czas zakończenia</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for event in latest_events %}
                                            <tr class="odd">
                                                <td>{{ event.title }}</td>
                                                <td>{{ event.start_time }}</td>
                                                <td>{{ event.end_time }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block extrascripts %}
    <script src="{% static 'calendar/js/plugins/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'calendar/js/plugins/dataTables.bootstrap.min.js' %}"></script>
    <script >$('#sampleTable').DataTable({
        "language": {
    "sProcessing": "Przetwarzanie ...",
    "sLengthMenu": "Pokaż _MENU_ rekordów",
    "sZeroRecords": "Żadne dane nie pasują do wprowadzonych",
    "sEmptyTable": "Brak danych do wyświetlenia",
    "sInfo": "Wyświetla od _START_ do _END_ z _TOTAL_",
    "sInfoEmpty": "Nie znaleziono żadnych dopasowań",
    "sInfoFiltered": "(filtrowano z _MAX_)",
    "sInfoPostFix": "",
    "sSearch": "Szukaj:",
    "sUrl": "",
    "sInfoThousands": ",",
    "sLoadingRecords": "Wczytywanie rekordów..",
    "oPaginate": {
      "sFirst": "Pierwszy", "sLast": "Ostatni", "sNext": "Następny", "sPrevious": "Poprzedni"
    },
    "oAria": {
      "sSortAscending": ": Sortuj rosnąco", "sSortDescending": ": Sortuj malejąco"
    }
  }
        });</script>
{% endblock extrascripts %}
