{% autoescape off %}
Witaj {{ user.username }},

Otrzymaliśmy prośbę o zmianę hasła dla twojego konta powiązanego z tym adresem email. Aby rozpocząć proces zmiany hasła, wciśnij link poniżej.

{{ protocol }}://{{ domain }}{% url 'store:password_reset_confirm' uidb64=uid token=token %}

Link ten może być użyty tylko raz. Jeśli chcesz ponownie zmienić hasło, odwiedź {{ protocol }}://{{domain}} i poproś o kolejny reset.

Jeśli to nie ty prosiłeś o zmianę hasła, ignoruj ten email.

Z wyrazami szacunku,
E-sadownik

{% endautoescape %}