{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %}Lista produktów{% endblock %}
{% block extracss %}
<link href="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Tables</h1>
<p class="mb-4">Delow.</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Wszystkie produkty</h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Nazwa</th>
                  <th>Zdjęcie</th>
                  <th>Cena</th>
                  <th>Opis</th>
                  <th>Akcje</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Nazwa</th>
                  <th>Zdjęcie</th>
                  <th>Cena</th>
                  <th>Opis</th>
                  <th>Akcje</th>
                </tr>
              </tfoot>
              <tbody>
                {% for p in products %}
                {% if p %}
                <tr>
                  <td> {{p.name}}</td>
                  <td> <img src="{{ p.product_image.url }}" alt="Profile Pic" height="40px" width="40px" /></td>
                  <td>{{p.price}}</td>
                  <td>{{p.description}}</td>
                  <td><a class="btn btn-primary btn-xs" href="{% url 'update-product' p.id  %}"><i class="fas fa-edit"></span></a>
                    <a class="btn btn-danger btn-xs" href="{% url 'delete-product' p.id  %}"><i class="fas fa-trash"></span></a></td>
                </tr>
                {%else%}
                <h1>Brak produktów!</h1>
                {% endif %}
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
  <a href="/admin-add-product" class="float"><i class="fa fa-plus"></i></a>
</div>
{% endblock content %}

{% block script %}
    <script src="{% static 'admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script src="{% static 'admin/js/demo/datatables-demo.js' %}"></script>
{% endblock script %}
