{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %}Panel{% endblock %}
{% block extracss %}{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Pulpit</h1>
</div>

<div class="row">

  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ilość klientów</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{customercount}}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ilość produktów</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{productcount}}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Ilośc zamówień</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ordercount}}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Ilość artykułów</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{articlescount}}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row">

  <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">

          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Podsumowanie zarobków</h6>
          </div>

          <div class="card-body">
              <div class="chart-area">
                  <canvas id="myAreaChart"></canvas>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
    <div class="panel panel-primary" >
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Ostatnie zamówienia</h6>
      </div>
      <table class="table table-hover table-bordered" id="dev-table">
        <thead>
          <tr>
            <th>Nabywca</th>
            <th>Numer telefonu</th>
            <th>Adres dostawy</th>
            <th>Produkt</th>
            <th>Zdjęcie</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for product,customer,order in data %}
        <tr>
          {% for c in customer %}
          <td> {{c.get_name}}</td>
          <td>{{c.mobile}}</td>
          <td>{{order.address}}</td>
          {% endfor %}
          {% for p in product %}
          <td> {{p.name}}</td>
          <td> <img src="{{ p.product_image.url }}" alt="Zdjęcie" height="40" width="40"></td>

          {% if order.status == 'Oczekujące'%}
          <td> <span class="label label-info">{{order.status}}</span></td>
          {% elif order.status == 'Dostarczone' %}
          <td> <span class="label label-success">{{order.status}}</span></td>
          {% elif order.status == 'Do dostarczenia' %}
          <td> <span class="label label-warning">{{order.status}}</span></td>
          {%else%}
            <td> <span class="label label-primary">{{order.status}}</span></td>
          {%endif%}
          {% endfor %}
        </tr>
        {% endfor %}
        <tfoot>
          <tr>
            <th>Nabywca</th>
            <th>Numer telefonu</th>
            <th>Adres dostawy</th>
            <th>Produkt</th>
            <th>Zdjęcie</th>
            <th>Status</th>
          </tr>
        </tfoot>
      </table>
  </div>
</div>

{% endblock content %}
{% block script %}
    <script src="{% static 'admin/vendor/chart.js/Chart.min.js' %}"></script>

    <script src="{% static 'admin/js/demo/chart-area-demo.js' %}"></script>
    <script>
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: JSON.parse('{{labelschart}}'),
    datasets: [{
      label: "Zarobki",
      lineTension: 0.3,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 3,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 10,
      pointBorderWidth: 2,
      data: JSON.parse('{{datachart}}'),
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 5,
          padding: 10,
          callback: function(value, index, values) {
            return number_format(value)+'PLN';
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 10,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ': ' + number_format(tooltipItem.yLabel)+'PLN';
        }
      }
    }
  }
});
    </script>
    <script src="{% static 'admin/js/demo/chart-pie-demo.js' %}"></script>
{% endblock script %}