{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %}Lista produktów{% endblock %}
{% block extracss %}
<link href="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<h1 class="h3 mb-2 text-gray-800">Lista produktów</h1>
<p class="mb-4">W tym miejscu możesz dodawać/usuwać/edytować produkty.</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Wszystkie produkty</h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable">
              <thead>
                <tr>
                  <th>Nazwa</th>
                  <th>Zdjęcie</th>
                  <th>Cena</th>
                  <th>Opis</th>
                  <th>Akcje</th>
                </tr>
              </thead>
              <tbody>
                {% for p in products %}
                {% if p %}
                <tr>
                  <td>{{p.name}}</td>
                  <td><img src="{{ p.image.url }}" alt="Zdjecie" height="40" width="40"></td>
                  <td>{{p.price}}</td>
                  <td>{{p.description}}</td>
                  <td><a class="btn btn-primary btn-xs" href="{% url 'store:update-product' p.id  %}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger btn-xs" href="{% url 'store:delete-product' p.id  %}"><i class="fas fa-trash"></i></a></td>
                </tr>
                {%else%}
                <h1>Brak produktów!</h1>
                {% endif %}
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>Nazwa</th>
                  <th>Zdjęcie</th>
                  <th>Cena</th>
                  <th>Opis</th>
                  <th>Akcje</th>
                </tr>
              </tfoot>
          </table>
      </div>
  </div>
</div>
{% endblock content %}

{% block script %}
    <script src="{% static 'admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script src="{% static 'admin/js/demo/datatables-demo.js' %}"></script>
{% endblock script %}

{% block sklep_zarzadzaj %}active{% endblock sklep_zarzadzaj %}
{% block sklep_zarzadzaj1 %}show{% endblock sklep_zarzadzaj1 %}
