{% extends 'admin/base_admin.html' %}
{% load static %}
{% block title %}Lista zamówień{% endblock %}
{% block extracss %}
<link href="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block sklep_zarzadzaj %}active{% endblock sklep_zarzadzaj %}
{% block sklep_zarzadzaj1 %}show{% endblock sklep_zarzadzaj1 %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Lista zamówień</h1>
<p class="mb-4">W tym miejscu możesz zarządzać zamówieniami.</p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Lista zamówień</h6>
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable">
              <thead>
                <tr>
                  <th>Klient</th>
                  <th>Kontakt</th>
                  <th>Adres dostawy</th>
                  <th>Produkt</th>
                  <th>Zdjęcie</th>
                  <th>Status</th>
                  <th>Akcje</th>
                </tr>
              </thead>
              <tbody>
                {% for product,customer,order in data %}
                <tr>
                {% for c in customer %}
                  <td> {{c.get_name}}</td>
                  <td>{{c.mobile}}</td>
                  <td>{{order.address}}</td>
                {% endfor %}
                {% for p in product %}
                  <td>{{p.name}}</td>
                  <td><img src="{% static p.product_image.url %}" alt="Profile Pic" height="40" width="40"></td>
                  <td>{{order.status}}</td>
                  <td><a class="btn btn-primary btn-xs" href="{% url 'update-order' order.id  %}"><i class="fas fa-edit"></i></a>
                  <a class="btn btn-danger btn-xs" href="{% url 'delete-order' order.id  %}"><i class="fas fa-trash"></i></a></td>
                {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>Klient</th>
                  <th>Kontakt</th>
                  <th>Adres dostawy</th>
                  <th>Produkt</th>
                  <th>Zdjęcie</th>
                  <th>Status</th>
                  <th>Akcje</th>
                </tr>
              </tfoot>
          </table>
      </div>
  </div>
</div>
{% endblock content %}
{% block script %}
    <script src="{% static 'admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <script src="{% static 'admin/js/demo/datatables-demo.js' %}"></script>
{% endblock script %}

