<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
  <title>Admin Panel</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'main/admin/base.css' %}">

</head>

<body>

  <div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#343A40;">
      <a href="/" class="navbar-brand">Admin Panel</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/view-customer" class="nav-item nav-link">Klient</a>
          <a href="/admin-view-booking" class="nav-item nav-link">Zamówienia</a>
          <a href="/admin-products" class="nav-item nav-link">Zarządzaj produktami</a>
          <!-- <a href="/view-feedback" class="nav-item nav-link">Feedback</a> -->
        </div>

        <div class="navbar-nav navbar-right">
          <a href="/logout" class="nav-item nav-link"> Wyloguj</a>
        </div>

      </div>
    </nav>
  </div>
  <main role="main" class="container-xl">
    <div class="row">
        <div class="col-lg-12 col-md-12-p-0 col-sm-12">
        {% include 'messages.html' %}
        {% block content %}
        {% endblock %}
        </div>
    </div>
  </main>

  <!-- <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
            <p>
              Copyright &copy; 2022 Sadownik </p>
          </div>
        </div>
      </div>
    </div>
  </footer> -->
</body>
</html>
