{% extends 'admin/admin_base.html' %} 
{% load crispy_forms_tags %}
{% block content %}
<head>
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">cos</legend>
            {{ form|crispy }}
            {{ form.media }}
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Zaktualizuj</button>
        </div>
    </form>
</div>
{% endblock content %}