{% extends 'base.html' %}

{% block content %}

<div class="container">
   <div class="border rounded p-1 m-1">
        <p class="display-4 pl-2 ml-2 rounded-pill">Twój Koszyk</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Lp.</th>
                    <th>Zdjęcie</th>
                    <th>Produkt</th>
                    <th>Cena</th>
                    <th>Ilość</th>
                    <th>Łącznie</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                {% if product %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img height="40" width="40" class="rounded-circle" src="{{product.image.url}}" alt="zdjecie"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}} PLN</td>
                    <td>1</td>
                    <td>{{product.price}} PLN</td>
                    <td><a class="btn btn-danger btn-xs" href="{% url 'store:remove-from-cart' product.id  %}?next_page={{request.path}}"><i class="fas fa-trash"></i></a></td>
                </tr>
                {%else%}
                <h1>Brak produktów</h1>
                {% endif %}
                {% endfor %}
                
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5"></th>
                    <th class="" >Do zapłaty</th>
                    <th>{{total}} PLN</th>
                </tr>
            </tfoot>
        </table>
        <hr>
        <div class="m-4 p-3">
            <a href="/customer-address" class="btn btn-outline-success border rounded  col-lg-2 float-right">Idź do kasy</a>
        </div>
   </div>
</div>
{% endblock %}