{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
	<div class="border rounded p-2 m-2">
{%if product_in_cart%}
<form method="post">
  {% csrf_token %}
  <div class="form-group">
        <label>Email <span class="required">*</span></label>
        {% render_field addressForm.Email class="field-long" placeholder="Email" %}
  </div>
  <div class="form-group">
        <label>Telefon <span class="required">*</span></label>
        {% render_field addressForm.Mobile class="field-long" placeholder="Telefon" %}
    </div>

    <div class="form-group">
        <label>Adres dostawy <span class="required">*</span></label>
        {% render_field addressForm.Address id="field5" class="field-long field-textarea" placeholder="Adres dostawy" %}
    </div>
        <input class="btn btn-sm btn-success col-lg-12" type="submit" value="Przejdz do zapłaty" />
</form>
{%else%}
<h1> Brak produktów w koszyku </h1>
{%endif%}
</div>
</div>
{% endblock content %}
