{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="p-3 m-3">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <h3 class="alert alert-light rounded-pill text-center" >Logowanie</h3>
            <form class="box" method="post">
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                        {% render_field form.username class="form-control form-group" placeholder="Adres email" autocomplete="off" %}
                        {% render_field form.password class="form-control form-group" placeholder="Hasło" %}
                   <input class="btn btn-sm btn-success col-lg-12" type="submit" name="" value="Zaloguj" >

            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Nie masz konta? <a class="ml-2" href="/signup">Zarejestruj się</a>
                </small><br>
                <small class="text-muted">
                    <a href="/">Nie pamiętasz hasła?</a>
                </small>
            </div>
        </div>
    </div>
</div>
{% endblock %}