{% extends 'base.html' %} {% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'main/my_order.css' %}">
<div class="container">
    <header class="card-header" style="text-align:center; font-size: 21px"> Moje zamówienia / Śledzenie </header>

    {% for products,order in data %}

        <div class="card card-body">
            <ul class="row" style="margin-left:20px;margin-top:20px;">
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        {%for product in products%}
                        <div class="aside"><img src="{{ product.image.url }}" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title"><strong>Produkt : </strong>{{product.name}} <br> <strong>Opis : </strong>{{product.description}} <br> <strong>Cena : </strong>{{product.price}} PLN</p>
                        </figcaption>

                    </figure>
                </li>
                <li class="col-md-4"><div class="col"> <strong>Adres dostawy:</strong> <br> {{order.address}}</div></li>
                <li class="col-md-4">
                    <div class="col"> <strong>Status:</strong> <br> {% if order.status == 'Oczekujące'%}
                        <span class="label label-info" style="font-size: 12px; border-radius: 30px;">{{order.status}}</span>
                        {% elif order.status == 'Dostarczone' %}
                        <span class="label label-success" style="font-size: 12px; border-radius: 30px;">{{order.status}}</span>
                        {% elif order.status == 'Do dostarczenia' %}
                        <span class="label label-default" style="font-size: 12px; border-radius: 30px;">{{order.status}}</span>
                        {%else%}
                        <span class="label label-primary" style="font-size: 12px; border-radius: 30px;">{{order.status}}</span>
                        {%endif%}


                    </div> <br>
                    <a class="btn btn-primary btn-sm rounded-0" style="text-decoration:none;" href="{% url 'store:download-invoice' order.id product.id  %}" target="_blank"><i class="fa fa-download " style="font-size: 12px;height:auto"></i> Pobierz fakturę</a>
                </li>
                {%endfor%}
            </ul>
            <hr>

            <div class="track">
                {%if order.status == 'Oczekujące' %}
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-spinner"></i> </span> <span class="text">Oczekujące</span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-check"></i> </span> <span class="text">Zamówienie potwierdzone</span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-truck"></i> </span> <span class="text">W drodze</span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-home"></i> </span> <span class="text">Dostarczono</span> </div>
                {%elif order.status == 'Zamówienie potwierdzone' %}
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-spinner"></i> </span> <span class="text">Oczekujące</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-check"></i> </span> <span class="text">Zamówienie potwierdzone</span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-truck"></i></span> <span class="text">W drodze</span> </div>
                <div class="step "> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-home"></i></span> <span class="text">Dostarczono</span> </div>
                {%elif order.status == 'Do dostarczenia'%}
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-spinner"></i> </span> <span class="text">Oczekujące</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-check"></i> </span> <span class="text">Zamówienie potwierdzone</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-truck"></i> </span> <span class="text">W drodze</span> </div>
                <div class="step ">       <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-home"></i> </span> <span class="text">Dostarczono</span> </div>
                {%else%}
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-spinner"></i> </span> <span class="text">Oczekujące</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-check"></i> </span> <span class="text">Zamówienie potwierdzone</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-truck"></i> </span> <span class="text">W drodze</span> </div>
                <div class="step active"> <span class="icon"> <i style="padding-top:.2em; padding-right:.5em;" class="fa fa-home"></i> </span> <span class="text">Dostarczono</span> </div>
                {%endif%}
            </div>

        </div>
    <br> {%endfor%}
</div>
 {% endblock content %}