{% extends 'base.html' %}

{% block content %}
<div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Witaj, {{ request.user }}</span>
    <a class="btn btn-info right" href="{% url '/logout' %}"> Wyloguj się</a>
	<a class="btn btn-info right mr-2" href="{% url 'my_calendar:calendar' %}?{{ next_month }} "> Miesiąc >> </a>
    <a class="btn btn-info right mr-2" href="{% url 'my_calendar:calendar' %}?{{ prev_month }}"> << Miesiąc </a>
    <a class="btn btn-info right mr-2" href="{% url 'my_calendar:event_new' %}"> + New Event </a>
</div>
<div style="color: blueviolet;">
    {{ calendar }}
</div>
{% endblock %}
